In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tmdb_genre_encoding.csv')

In [3]:
df.shape

(19262, 20)

In [6]:
df.columns

Index([u'Action', u'Adventure', u'Animation', u'Comedy', u'Crime',
       u'Documentary', u'Drama', u'Family', u'Fantasy', u'History', u'Horror',
       u'Music', u'Mystery', u'Romance', u'Science Fiction', u'TV Movie',
       u'Thriller', u'War', u'Western', u'id'],
      dtype='object')

In [8]:
df1 = df.drop('id', axis = 1)

In [11]:
x = df1[df1['Action'] == 1].sum()

In [67]:
df2 = pd.DataFrame({})
mini_df = []
for column in df1.columns:
    x = df1[df1[column] == 1].sum(axis = 0)
    y = x.keys()
    z = x.tolist()
    amounts = {i:j for i,j in zip(y,z)}
    amounts['key_genre'] = column
    mini_df.append(amounts)
df2 = df2.append(mini_df)

In [81]:
df3 = df2.copy()
cols = list(df3.columns)
cols.remove('key_genre')
for i in range(df3.shape[0]):
    for col in cols:
        df3[col] = df3[col].astype(float)
        if col != df3.iloc[i]['key_genre']:
            amount = df3.iloc[i][col] * 1.0 / df3.iloc[i][df3.iloc[i]['key_genre']] * 1.0
            df3.set_value(i,col,amount)
for i in range(df3.shape[0]):
    for col in cols:
        if col == df3.iloc[i]['key_genre']:
            df3.set_value(i,col,None)
df3.to_csv('chart_data/genre_pct_totals.csv', index = False)
df3.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,key_genre
0,NaN,0.325387,0.073548,0.210500,0.213543,0.002790,0.325640,0.048948,0.104489,0.045143,0.075323,0.005580,0.042354,0.062643,0.205174,0.010145,0.384986,0.050216,0.040071,Action
1,0.542724,NaN,0.181895,0.260575,0.065567,0.004230,0.271997,0.253807,0.239425,0.047800,0.038917,0.010152,0.034264,0.086294,0.206853,0.013536,0.182741,0.037225,0.034687,Adventure
2,0.214656,0.318283,NaN,0.320503,0.020725,0.007402,0.096965,0.524796,0.227979,0.008142,0.022946,0.034789,0.026647,0.035529,0.152480,0.017024,0.025907,0.005181,0.002221,Animation
3,0.141662,0.105137,0.073903,NaN,0.079365,0.004779,0.319850,0.133811,0.076976,0.006656,0.049326,0.037037,0.020481,0.249019,0.055300,0.013142,0.058884,0.008193,0.010411,Comedy
4,0.383774,0.070647,0.012762,0.211942,NaN,0.005014,0.581586,0.011395,0.013674,0.010027,0.050593,0.009572,0.171832,0.066545,0.023701,0.007748,0.565634,0.004558,0.008204,Crime

In [82]:
cols = list(df2.columns)
cols.remove('key_genre')
for i in range(df2.shape[0]):
    for col in cols:
        if col == df2.iloc[i]['key_genre']:
            df2.set_value(i,col,None)
df2.to_csv('chart_data/genre_raw_totals.csv', index = False)

In [83]:
df2.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,key_genre
0,NaN,1283.0,290.0,830.0,842.0,11.0,1284.0,193.0,412.0,178.0,297.0,22.0,167.0,247.0,809.0,40.0,1518.0,198.0,158.0,Action
1,1283.0,NaN,430.0,616.0,155.0,10.0,643.0,600.0,566.0,113.0,92.0,24.0,81.0,204.0,489.0,32.0,432.0,88.0,82.0,Adventure
2,290.0,430.0,NaN,433.0,28.0,10.0,131.0,709.0,308.0,11.0,31.0,47.0,36.0,48.0,206.0,23.0,35.0,7.0,3.0,Animation
3,830.0,616.0,433.0,NaN,465.0,28.0,1874.0,784.0,451.0,39.0,289.0,217.0,120.0,1459.0,324.0,77.0,345.0,48.0,61.0,Comedy
4,842.0,155.0,28.0,465.0,NaN,11.0,1276.0,25.0,30.0,22.0,111.0,21.0,377.0,146.0,52.0,17.0,1241.0,10.0,18.0,Crime

In [85]:
%%HTML
<div class='tableauPlaceholder' id='viz1491392940635' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;cs&#47;cs109b_genre_proportion&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='cs109b_genre_proportion&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;cs&#47;cs109b_genre_proportion&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1491392940635');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1004px';vizElement.style.height='869px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [86]:
%%HTML
<div class='tableauPlaceholder' id='viz1491394078709' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;cs&#47;cs109b_genre_raw_total&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='cs109b_genre_raw_total&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;cs&#47;cs109b_genre_raw_total&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1491394078709');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1004px';vizElement.style.height='869px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>