In [1]:
import pandas as pd

In [35]:
df_tmdb = pd.read_csv('Milestone 1/detailed_movie_data_tmdb.csv')

In [36]:
df_tmdb = df_tmdb[df_tmdb['imdb_id'] != 'n']
df_tmdb['imdb_id'] = df_tmdb['imdb_id'].apply(lambda x: int(x.replace('/', '')))

In [40]:
df_imdb = pd.read_csv('Milestone 1/detailed_movie_data_imdb.csv')

In [41]:
df_imdb = df_imdb.drop_duplicates()

In [ ]:
df_tmdb.to_csv('Milestone 1/detailed_movie_data_tmdb.csv', index = False)
df_imdb.to_csv('Milestone 1/detailed_movie_data_imdb.csv', index = False)

In [42]:
df_imdb.shape

(1596, 84)

In [43]:
set_tmdb = set(df_tmdb['imdb_id'])
set_imdb = set(df_imdb['imdb_id'])

In [44]:
print(len(set_tmdb))
print(len(set_imdb))

18977
1521

In [46]:
len(list(set_tmdb - set_imdb))

17456

In [31]:
def find_error(value):
    try:
        int(value)
    except:
        print(value)

df_tmdb['imdb_id'].apply(lambda x: find_error(x))

5478632/

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
19430    None
19431    None
19432    None
19433    None
19434    None
19435    None
19436    None
19437    None
19438    None
19439    None
19440    None
19441    None
19442    None
19443    None
19444    None
19445    None
19446    None
19447    None
19448    None
19449    None
19450    None
19451    None
19452    None
19453    None
19454    None
19455    None
19456    None
19457    None
19458    None
19459    None
Name: imdb_id, dtype: object

In [21]:
df_tmdb_x = df_tmdb[df_tmdb['imdb_id'] != 'n']

In [33]:
df_tmdb['imdb_id'].dtypes

dtype('int64')